<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>User registration</title>
  </head>
  <body>
    <p>Hello <%= name %>,</p>
    <p>You recently requested to otp.</p>
    <p>This is your otp <%= otp%>.</p>
    <p>If you did not request to otp, please ignore this email or contact us if you have any concerns.</p>
    <p>Best regards,</p>
    <p>The App Team</p>
  </body>
</html>